/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  width: 98%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #333;
}

button {
  padding: 10px 10px;
  font-size: 20px;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
width: 50px
border-color: black;
border-width: 1px;
border-style: solid;


}

button:hover {
  opacity: 0.9;
}
